
.login-container {
    margin-top: 100px;
    width: 300px;
}

.faild-parent {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 26px;
}

.welcom-span {
    color: #ab9d9d;
    font-size: 15px;
}